@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*,
*::before,
*::after {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fallback-bg-color: hsl(180, 100%, 50%);
    --bg-image: url('./assets/background.jpg');
    --bg-cover: hsla(0, 100%, 0%, .7);
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background: var(--fallback-bg-color) var(--bg-image) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#app {
    width: 100vw;
    background-color: var(--bg-cover);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}