*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fallback-bg-color: hsl(180, 100%, 50%);
    --bg-image: url('./assets/background.jpg');
    --bg-cover: hsla(0, 100%, 0%, .7);
    --vertical-pos: 5%;
    --horizontal-pos1: 0%;
    --horizontal-pos2: 40%;
    --quote-animation-time: .7s;
}

html {
    font-size: 16px;
}

body {
    overflow: hidden;
}

#app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--fallback-bg-color) var(--bg-image) no-repeat;
    background-size: cover;
}