*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fallback-bg-color: hsl(180, 100%, 50%);
    --bg-image: url('./assets/background.jpg');
}

html {
    font-size: 16px;
}

#app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--fallback-bg-color) var(--bg-image) no-repeat;
    background-size: cover;
}